/* general styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* Part 1 : Famous Quotes */

/* 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/IMG_4883.JPEG) no-repeat center center/ cover;   
    
}

.container{
    width: 550px;
    height: 450px;
}

.header{
    font-size: 1.2rem;
    border: solid 2px #fff;
    color: #fff;
    background-color: #262626;
    padding: 5px;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.main-content {
    width: 100%;
    height: 300px;
    background-color: #fff;
    opacity: .8;
    border-radius: 15px;;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
display:flex;
flex-direction: column;
justify-content: space-between;


}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5;

}

.main-content .person {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
    
}

.button-area{
    display: relative;


}
.button-area button {
    background-color: #262626;
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    
}

.button-area button:active {
    background-color: lightblue;
    
}
 */

/* /////////////////////////////////////////////// */

/* Part 2: Modal Window */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body { 
    background: url(/img/IMG_4883.JPEG) no-repeat center center/ cover;
    height: 100vh;
    position: relative;

}



#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    background: transparent;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 3px black;
    transition:  .75s;
}

#open-btn:hover {
    background-color: white;
    color: black;
}

#modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate((-50%, -50%));
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: animatemodal;
    animation-duration:  1s;
    box-shadow: 0 0 50px black;
}

#modal:hover {
    background-color: black;
    color: white;
    transition: .5s;
}


#close-btn {
    font-size: 3rem;
}


#close-btn {
    cursor: pointer;
    font-size: 3rem;
    color: #ff0000;
    border: solid 1px black;
    padding: 0px 15px;
    border-radius: 30px;
}


#close-btn:hover{
    background-color:rgb(104, 24, 231);
}

#close-btn:active{
    background-color:  rgb(43, 0, 160);
}
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.2);

} */

/* Modal animation section */

/* @keyframes animatemodal {
    from{
        top: -300px;
        opacity: 0;

    }
    to {
        top: 50%;
        opacity: 1;
    }
} */

/* ##############################################


        Project 3 : Accordion FAQ 


############################################## */

body {
    background: url(/img/IMG_4883.JPEG) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    padding: 30px;
    border-radius: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    /* transition: ease-out;*/
    /* transition-duration: 500ms; */
    display: block;
    transform-origin: top center;
}

.accordion .accordion-title {
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question {
    padding: 18px 0px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.accordion .content-container .question::after {
    content: "+";
    position: absolute;
    right: -5px;
}

.accordion .content-container .answer {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

/* Javascript styling link */

.accordion .content-container.active .answer {
    height: 200px;
}

.accordion .content-container.active .question {
    font-size: 18px;
    transition: 0.5s;
}

.accordion .content-container.active .question::after {
    content: "-";
    font-size: 30px;
    transition: 0.5s;
    position: absolute;
    bottom: 0;
}

.menu-button {
    position: absolute;
    background-color: transparent;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    /* position: relative; */
    top: 10px;
    left: 10px;
    font-size: 2em;
}

.hide {
    position: absolute;
    transform: translateX(-500px);
}
.change-button {
    position: absolute;
    display: contents;
    top: 200px;
    left: 700px;
}

.close-menu-button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    /* content: ""; */
    background-color: black;
    height: 5px;
    width: 40px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.25s;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}
.menu-icon::before {
    transform: translate(-20px, -12px);
}
.menu-icon::after {
    transform: translate(-20px, 12px);
}

:is(.accordion:hover, .accordion:focus-within) .menu-icon {
    background-color: transparent;
    transform: rotate(720deg);
}

:is(.accordion:hover, .accordion:focus-within) .menu-icon::before {
    transform: translateX(-20px) rotate(-45deg);
}

:is(.accordion:hover, .accordion:focus-within) .menu-icon::after {
    transform: translateX(-20px) rotate(45deg);
}

/* //////////////////////////////////////////////

Quick other DOM manipulation video example 

/////////////////////////////////////////////////*/
/* 
.title,
.changeColor,
#textInput,
#btn {
margin: 40px;
} */
